{% macro error(field) -%}
{% if form[field].error %}<span class="error">{{ form[field].error }}</span>{% endif %}
{%- endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}dikumail.dk{% endblock %}</title>
    <link rel="stylesheet" href="style.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  </head>
  <body>
    <div id="content" class="center">
      <h1>dikumail.dk</h1>
      <h2>Mailman hosting for DIKU students.</h2>
      <hr />
      
      {% block content %}{% endblock %}
      <hr />
      <p>
	<small>This service is operated by S&oslash;ren Pilg&aring;rd. Please contant support - AT - dikumail - DOT - dk with any inquiries.</small>
	<small>This service is not affiliated with DIKU (Department of Compter Science,
	  University of Copenhagen) or the University of Copenagen. All similarities in
	  nameing are coincidental</small>
    </p>
    </div>
  </body>
</html>



